<h1>Nový titul</h1>
<p>
Formulář pro zadání nové knihy nebo filmu do databáze.
</p>

<form class="well" ng-submit="create()">

  <fieldset>
    <input type="text" ng-model="book.title" class="input-xxlarge" required placeholder="Název knihy nebo filmu">
    <select ng-model="book.type">
	  <option value="movie">Film</option>
	  <option value="book">Kniha</option>
	</select>
  </fieldset>


  <div class="form-actions">
  		<button type="submit" class="btn btn-success btn-large">Uložit</button>
  		<button type="button" class="btn" ng-click="close()">Zavřít</button>
  </div>

</form>